<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){

            calculateTotalPrice();

            $("#count").change( function(){
                calculateTotalPrice();
            });

            fillingRating();
        });

        function fillingRating(){
            var percent = $("#rate").val()*20+1.5 + '%';
            document.getElementById("star").style.width = percent;
        }

        function calculateTotalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price * count;
            $("#totalPrice").html(totalPrice.toLocaleString() + '원');
        }
        function selectSize(){
            var size = $(":input:radio[name=size]:checked").val();
            console.log(size);
        }

        function order(){
           if(!$(":input:radio[name=size]:checked").val()){
                alert('사이즈를 선택해주세요.');
                location.reload();
           }else{
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val(),
                size : $(":input:radio[name=size]:checked").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/orders';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
            }
        }

        function addWish(){

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/wish";
            var paramData = {
                itemId : $("#itemId").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert('상품이 위시리스트에 추가되었습니다.');
                    location.reload();
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function deleteWish(){

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/deleteWish";
            var paramData = {
                itemId : $("#itemId").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "DELETE",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert('상품이 위시리스트에서 삭제되었습니다.');
                    location.reload();
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }


        function addCart(){
            if(!$(":input:radio[name=size]:checked").val()){
                alert('사이즈를 선택해주세요.');
                location.reload();
           }else{
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val(),
                size : $(":input:radio[name=size]:checked").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/cart';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
            }
        }


    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .mgt-70{
            margin-top:70px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:100%;
        }
        .wd50{
            height:auto;
            width:50%;
        }
        .btn{
            border: solid black 1px;
            margin-bottom: 1px;
        }

        input[type=radio]{
            display: none;
            margin: 5px;
        }
        input[type=radio] + label{
            margin: 1px;
            padding: 5px 15px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            font-size: 13px !important;
            width: 55px;
            text-align: center;
        }
        input[type=radio]:disabled + label{
            background-color: red;
            color:#fff;
        }
        input[type=radio]:checked + label{
            background-color: orange;
            font-weight: bold;
        }
        input[type=radio]:enabled:hover + label{
            background-color: yellow;
            color: black;
        }

        .bi{
            font-size: 32px;
        }

        .m_set_red {
            color: red;
        }

        .m_set_pointer {
            cursor: pointer;
            float: right;
        }

        .m_set_black {
            color: black;
        }

        .star-ratings {
          color: #aaa9a9;
          font-size: 25px;
          position: relative;
          unicode-bidi: bidi-override;
          width: max-content;
          -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1.3px;
          -webkit-text-stroke-color: #2b2a29;
        }

        .star-ratings-fill {
          color: #fff58c;
          padding: 0;
          position: absolute;
          z-index: 1;
          display: flex;
          top: 0;
          left: 0;
          overflow: hidden;
          -webkit-text-fill-color: gold;
        }

        .star-ratings-base {
          z-index: 0;
          padding: 0;
        }

        .jumbotron {
          padding-top: 2rem;
        }

        #navbar {
          position:-webkit-sticky;
          position:sticky;
          top:0;
        }

         #contentTable {
             text-overflow: ellipsis;
             white-space: nowrap;
             max-width: 20px;
             overflow: hidden;
         }

    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" id="itemId" th:value="${item.id}">
    <div class="d-flex">
        <div class="repImgDiv">
            <img margin-bottom="20px" id="imgUrl" th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}">
        </div>
        <div class="wd50">
            <span th:if="${item.itemSellStatus == T(kr.co.shoebox.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
                판매중
            </span>
            <span th:unless="${item.itemSellStatus == T(kr.co.shoebox.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
                품절
            </span>
            <div>
                <span class="h4" id="itemNm" th:text="${item.itemNm}"></span>
                <i th:if="${wishStatus} == true" class="bi bi-heart-fill m_set_pointer m_set_red" onclick="deleteWish()"></i>
                <i th:unless="${wishStatus} == true" class="bi bi-heart m_set_pointer m_set_black" id="unWish" onclick="addWish()"></i>
            </div>
            <div class="h4 text-danger text-left">
                <input type="hidden" th:value="${item.price}" id="price" name="price">
                <span th:text="|*{#numbers.formatInteger(item.price,3,'COMMA')} 원|"></span>
            </div>
            <hr class="my-2">

            <div class="text-right">
                <span class="badge badge-danger mgb-15">품절된 사이즈</span>
                <span class="badge badge-warning mgb-15">선택한 사이즈</span>
            </div>
            <div class="text-right">
                <div class="button1">
                    <input type="radio" th:if="${item.size220}==0" name="size" class="btn" id="size220_dis" disabled><label for="size220_dis" th:if="${item.size220}==0">220</label>
                    <input type="radio" th:unless="${item.size220}==0" name="size" class="btn" id="size220" value="size220" onclick="selectSize()"><label for="size220" th:unless="${item.size220}==0">220</label>
                    <input type="radio" th:if="${item.size225}==0" name="size" class="btn" id="size225_dis" disabled><label for="size225_dis" th:if="${item.size225}==0">225</label>
                    <input type="radio" th:unless="${item.size225}==0" name="size" class="btn" id="size225" value="size225" onclick="selectSize()"><label for="size225" th:unless="${item.size225}==0">225</label>
                    <input type="radio" th:if="${item.size230}==0" name="size" class="btn" id="size230_dis" disabled><label for="size230_dis" th:if="${item.size230}==0">230</label>
                    <input type="radio" th:unless="${item.size230}==0" name="size" class="btn" id="size230" value="size230" onclick="selectSize()"><label for="size230" th:unless="${item.size230}==0">230</label>
                    <input type="radio" th:if="${item.size235}==0" name="size" class="btn" id="size235_dis" disabled><label for="size235_dis" th:if="${item.size235}==0">235</label>
                    <input type="radio" th:unless="${item.size235}==0" name="size" class="btn" id="size235" value="size235" onclick="selectSize()"><label for="size235" th:unless="${item.size235}==0">235</label>
                    <input type="radio" th:if="${item.size240}==0" name="size" class="btn" id="size240_dis" disabled><label for="size240_dis" th:if="${item.size240}==0">240</label>
                    <input type="radio" th:unless="${item.size240}==0" name="size" class="btn" id="size240" value="size240" onclick="selectSize()"><label for="size240" th:unless="${item.size240}==0">240</label>
                </div>
                <div class="button2">
                    <input type="radio" th:if="${item.size245}==0" name="size" class="btn" id="size245_dis" disabled><label for="size245_dis" th:if="${item.size245}==0">245</label>
                    <input type="radio" th:unless="${item.size245}==0" name="size" class="btn" id="size245" value="size245" onclick="selectSize()"><label for="size245" th:unless="${item.size245}==0">245</label>
                    <input type="radio" th:if="${item.size250}==0" name="size" class="btn" id="size250_dis" disabled><label for="size250_dis" th:if="${item.size250}==0">250</label>
                    <input type="radio" th:unless="${item.size250}==0" name="size" class="btn" id="size250" value="size250" onclick="selectSize()"><label for="size250" th:unless="${item.size250}==0">250</label>
                    <input type="radio" th:if="${item.size255}==0" name="size" class="btn" id="size255_dis" disabled><label for="size255_dis" th:if="${item.size255}==0">255</label>
                    <input type="radio" th:unless="${item.size255}==0" name="size" class="btn" id="size255" value="size255" onclick="selectSize()"><label for="size255" th:unless="${item.size255}==0">255</label>
                    <input type="radio" th:if="${item.size260}==0" name="size" class="btn" id="size260_dis" disabled><label for="size260_dis" th:if="${item.size260}==0">260</label>
                    <input type="radio" th:unless="${item.size260}==0" name="size" class="btn" id="size260" value="size260" onclick="selectSize()"><label for="size260" th:unless="${item.size260}==0">260</label>
                    <input type="radio" th:if="${item.size265}==0" name="size" class="btn" id="size265_dis" disabled><label for="size265_dis" th:if="${item.size265}==0">265</label>
                    <input type="radio" th:unless="${item.size265}==0" name="size" class="btn" id="size265" value="size265" onclick="selectSize()"><label for="size265" th:unless="${item.size265}==0">265</label>
                </div>
                <div class="button3">
                    <input type="radio" th:if="${item.size270}==0" name="size" class="btn" id="size270_dis" disabled><label for="size270_dis" th:if="${item.size270}==0">270</label>
                    <input type="radio" th:unless="${item.size270}==0" name="size" class="btn" id="size270" value="size270" onclick="selectSize()"><label for="size270" th:unless="${item.size270}==0">270</label>
                    <input type="radio" th:if="${item.size275}==0" name="size" class="btn" id="size275_dis" disabled><label for="size275_dis" th:if="${item.size275}==0">275</label>
                    <input type="radio" th:unless="${item.size275}==0" name="size" class="btn" id="size275" value="size275" onclick="selectSize()"><label for="size275" th:unless="${item.size275}==0">275</label>
                    <input type="radio" th:if="${item.size280}==0" name="size" class="btn" id="size280_dis" disabled><label for="size280_dis" th:if="${item.size280}==0">280</label>
                    <input type="radio" th:unless="${item.size280}==0" name="size" class="btn" id="size280" value="size280" onclick="selectSize()"><label for="size280" th:unless="${item.size280}==0">280</label>
                    <input type="radio" th:if="${item.size285}==0" name="size" class="btn" id="size285_dis" disabled><label for="size285_dis" th:if="${item.size285}==0">285</label>
                    <input type="radio" th:unless="${item.size285}==0" name="size" class="btn" id="size285" value="size285" onclick="selectSize()"><label for="size285" th:unless="${item.size285}==0">285</label>
                    <input type="radio" th:if="${item.size290}==0" name="size" class="btn" id="size290_dis" disabled><label for="size290_dis" th:if="${item.size290}==0">290</label>
                    <input type="radio" th:unless="${item.size290}==0" name="size" class="btn" id="size290" value="size290" onclick="selectSize()"><label for="size290" th:unless="${item.size290}==0">290</label>
                </div>
                <div class="button4">
                    <input type="radio" th:if="${item.size295}==0" name="size" class="btn" id="size295_dis" disabled><label for="size295_dis" th:if="${item.size295}==0">295</label>
                    <input type="radio" th:unless="${item.size295}==0" name="size" class="btn" id="size295" value="size295" onclick="selectSize()"><label for="size295" th:unless="${item.size295}==0">295</label>
                    <input type="radio" th:if="${item.size300}==0" name="size" class="btn" id="size300_dis" disabled><label for="size300_dis" th:if="${item.size300}==0">300</label>
                    <input type="radio" th:unless="${item.size300}==0" name="size" class="btn" id="size300" value="size300" onclick="selectSize()"><label for="size300" th:unless="${item.size300}==0">300</label>
                </div>
            </div>
            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <span class="input-group-text">수량</span>
                </div>
                <input type="number" name="count" id="count" class="form-control" value="1" min="1">
            </div>
            <hr class="my-2">
            <div class="text-right">
                <h5>결제 금액</h5>
                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
            </div>
            <div th:if="${item.itemSellStatus == T(kr.co.shoebox.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
            </div>
            <div th:unless="${item.itemSellStatus == T(kr.co.shoebox.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-danger btn-lg">품절</button>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="navbar">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#itemDtl">상품상세정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#review">상품리뷰(<span th:text="${review.count}" ></span>)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#qna">상품문의()</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#info">배송/반품/교환 안내</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <hr class="my-1" id="itemDtl">
            <h4 class="display-5 mgt-70">상품상세정보</h4>
            <p class="lead" id="itemDetail" th:text="${item.itemDetail}"></p>
            <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="100%">
            </div>
        </div>
        <div class="container">
            <hr class="my-2">
            <h4 class="display-5 mgt-30" id="review">상품리뷰(<span th:text="${review.count}" ></span>)</h4>
            <input type="hidden" id="rate" th:value="${review.rate}">
            <div class="star-ratings">
                <div id="star" class="star-ratings-fill space-x-2 text-lg">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
                <div class="star-ratings-base space-x-2 text-lg">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
            </div>
            (<span th:text="${review.rate}"></span>)

            <div>
                <table class="table">
                    <colgroup>
                        <col width="20%"/>
                        <col width="60%"/>
                        <col width="20%"/>
                    </colgroup>
                    <thead>
                    <tr class="text-center">
                        <td>별점</td>
                        <td>리뷰</td>
                        <td>작성자</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reviewItem : ${reviewItems}">
                        <td class="text-center align-middle">
                            <th:block th:switch="${reviewItem.rate}">
                                <span class="align-self-center mr-2" th:case="1">★☆☆☆☆</span>
                                <span class="align-self-center mr-2" th:case="2">★★☆☆☆</span>
                                <span class="align-self-center mr-2" th:case="3">★★★☆☆</span>
                                <span class="align-self-center mr-2" th:case="4">★★★★☆</span>
                                <span class="align-self-center mr-2" th:case="5">★★★★★</span>
                            </th:block>
                        </td>
                        <td class="text-center align-middle" id="contentTable">
                            <span th:id="content"
                                  th:text="${reviewItem.content}" class="align-self-center mr-2">
                            </span>
                        </td>
                        <td class="text-center align-middle" style="font-size: 12px">
                            <div th:id="writer"
                                  th:text="${reviewItem.email}" class="align-self-center mr-2">
                            </div>
                            <div th:id="regTime"
                                 th:text="${reviewItem.regTime}" class="align-self-center mr-2">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>