<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            $("#1").html("&#9733; &#9734; &#9734; &#9734; &#9734;");
            $("#2").html("&#9733; &#9733; &#9734; &#9734; &#9734;");
            $("#3").html("&#9733; &#9733; &#9733; &#9734; &#9734;");
            $("#4").html("&#9733; &#9733; &#9733; &#9733; &#9734;");
            $("#5").html("&#9733; &#9733; &#9733; &#9733; &#9733;");
        });


        function deleteReview(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var reviewItemId = $("#reviewItemId").val();

            var url = "/reviews/delete/"+reviewItemId;


            var paramData = {
               reviewItemId : reviewItemId
            };

            var param = JSON.stringify(paramData);

            alert("리뷰가 삭제되었습니다.");
            $.ajax({
                url      : url,
                type     : "DELETE",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false
            });
            location.href="/reviews/reviewMng";
        }
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:25%;
            margin-right:25%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">

    <h2 class="mb-4">
        리뷰 관리
    </h2>

    <div>

        <table class="table">
            <colgroup>
                <col width="30%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="40%"/>
                <col width="10%"/>
            </colgroup>
            <thead>
            <tr class="text-center">
                <td>상품정보</td>
                <td>별점</td>
                <td>리뷰제목</td>
                <td>리뷰내용</td>
                <td>수정, 삭제</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reviewItem : ${reviewItems}">
                <td class="d-flex">
                    <div class="repImgDiv align-self-center">
                        <a th:href="'/item/'+ ${reviewItem.itemId}">
                            <img th:src="${reviewItem.imgUrl}" class = "rounded repImg" th:alt="${reviewItem.itemNm}">
                        </a>
                    </div>
                    <div class="align-self-center">
                        <span th:text="${reviewItem.itemNm}" class="fs24 font-weight-bold"></span>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <span th:id="${reviewItem.rate}" class="align-self-center mr-2">
                    </span>
                </td>
                <td class="text-center align-middle">
                    <span th:id="title"
                          th:text="${reviewItem.title}" class="align-self-center mr-2">
                    </span>
                </td>
                <td class="text-center align-middle">
                    <span th:id="content"
                          th:text="${reviewItem.content}" class="align-self-center mr-2">
                    </span>
                </td>

                <td>
                    <form role="form" method="get">
                        <input type="hidden" th:value="${reviewItem.id}" id="reviewItemId" name="reviewItemId">
                        <button th:formaction="@{'/reviews/update/' + ${reviewItem.id} }" >수정</button>
                    </form>
                        <button onclick="deleteReview()">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</html>