<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:25%;
            margin-right:25%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">

    <h2 class="mb-4">
        리뷰 목록
    </h2>

    <div>

        <table class="table">
            <colgroup>
                <col width="20%"/>
                <col width="20%"/>
                <col width="60%"/>
            </colgroup>
            <thead>
            <tr class="text-center">
                <td>별점</td>
                <td>리뷰제목</td>
                <td>리뷰내용</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reviewItem : ${reviewItems}">
                <td class="text-center align-middle">
                    <th:block th:switch="${reviewItem.rate}">
                        <span class="align-self-center mr-2" th:case="1">★☆☆☆☆</span>
                        <span class="align-self-center mr-2" th:case="2">★★☆☆☆</span>
                        <span class="align-self-center mr-2" th:case="3">★★★☆☆</span>
                        <span class="align-self-center mr-2" th:case="4">★★★★☆</span>
                        <span class="align-self-center mr-2" th:case="5">★★★★★</span>
                    </th:block>
                </td>
                <td class="text-center align-middle">
                    <span th:id="title"
                          th:text="${reviewItem.title}" class="align-self-center mr-2">
                    </span>
                </td>
                <td class="text-center align-middle">
                    <span th:id="content"
                          th:text="${reviewItem.content}" class="align-self-center mr-2">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</html>