<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

</th:block>

<div layout:fragment="content">

    <form action="/members/pwCheck" role="form" method="post">

        <h2>비밀번호 변경</h2>
        <div class="form-group">
            <label for="password">현재 비밀번호 입력</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호 입력">
        </div>
        <p th:if="${pwCheckErrorMsg}" class="error" th:text="${pwCheckErrorMsg}"></p>

        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" id="submit">확인</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>

    </form>

</div>

</html>