<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar" th:fragment="sidebar">
    <div id="sidebar-wrapper" style="position:absolute; width: 25%">
        <ul class="sidebar-nav" style="list-style:none">
            <h4 class="sidebar-brand" style="line-height:2.5em; margin-top: 1em"><a href="/members/myPage" style="text-decoration:none; color:black">
                <span th:text="${name}"></span>
                <span>님의 마이페이지</span>
            </a>
            </h4>
            <li style="line-height:2em; font-size: 20px;"><a href="/members/memberUpdateForm" style="text-decoration:none">회원정보 수정</a></li>
            <li style="line-height:2em; font-size: 20px;"><a href="/members/pwCheckForm" style="text-decoration:none">비밀번호 변경</a></li>
            <li style="line-height:2em; font-size: 20px;"><a href="/orders" style="text-decoration:none">주문 내역</a></li>
            <li style="line-height:2em; font-size: 20px;"><a href="/wish" style="text-decoration:none">위시 리스트</a></li>
            <li style="line-height:2em; font-size: 20px;"><a href="/reviews/reviewMng" style="text-decoration:none">리뷰 내역</a></li>
            <li style="line-height:2em; font-size: 20px;"><a href="/qna/qnaList" style="text-decoration:none">문의 내역</a></li>
            <li style="line-height:2em; font-size: 20px;"><a href="/members/memberDeleteForm" style="text-decoration:none">회원 탈퇴</a></li>
        </ul>
    </div>
</div>
</html>